{%- macro add_header(page_num, max_pages, doc, letter_head, no_letterhead) -%}
{% if letter_head and not no_letterhead %}
{{ letter_head }}
{% endif %}

{% if max_pages > 1 %}
<p class="text-right">{{ _("Page #{0} of {1}").format(page_num, max_pages) }}</p>
{% endif %}
{%- endmacro -%}
{{ add_header(0,1,doc,letter_head, no_letterhead) }}

<table style="margin-top: 1%">
    <tr>
        <th class="text-left" style="border: 1px solid black ;width: 20%;font-size: 120%">
            <b>DATE</b>
        </th>
        <td class="text-left" style="border: 1px solid black ;width: 30%;font-size: 120%">
            {{doc.posting_date}}
        </td>
        <th class="text-left" style="border: 1px solid black ;width: 20%;font-size: 120%">
            <b>DOCUMENT NO</b>
        </th>
        <td class="text-left" style="border: 1px solid black ;width: 25%;font-size: 120%">
                {{doc.name}}

        </td>
    </tr>
     <tr>
        <th class="text-left" style="border: 1px solid black ;width: 20%;font-size: 120%">
            <b>CUSTOMER NAME</b>
        </th>
        <td class="text-left" style="border: 1px solid black ;width: 30%;font-size: 120%">
                {{doc.customer_name}}

        </td>
        <th class="text-left" style="border: 1px solid black ;width: 20%;font-size: 120%">
            <b>CUSTOMER REF</b>
        </th>
        <td class="text-left" style="border: 1px solid black ;width: 25%;font-size: 120%">
            {% if doc.customer_ref %}
            {{doc.customer_ref}}
            {% endif %}

        </td>
    </tr>
     <tr>
        <th class="text-left" style="border: 1px solid black ;width: 20%;font-size: 120%">
            <b>CONTACT PERSON</b>
        </th>
        <td class="text-left" style="border: 1px solid black ;width: 30%;font-size: 120%">
            {{ frappe.db.get_value("Contact", doc.contact_person, "first_name") }}
            {% if frappe.db.get_value("Contact", doc.contact_person, "middle_name") %}
                {{ frappe.db.get_value("Contact", doc.contact_person, "middle_name")}}
            {% endif %}
            {{ frappe.db.get_value("Contact", doc.contact_person, "last_name") }}

        </td>
        <th class="text-left" style="border: 1px solid black ;width: 20%;font-size: 120%">
            <b>ESTIMATED DATE</b>
        </th>
        <td class="text-left" style="border: 1px solid black ;width: 25%;font-size: 120%">
                        {{doc.estimated_date}}

        </td>
    </tr>
     <tr>
        <th class="text-left" style="border: 1px solid black ;width: 20%;font-size: 120%">
            <b>CONTACT NUMBER</b>
        </th>
        <td class="text-left" style="border: 1px solid black ;width: 30%;font-size: 120%">
            {% if doc.contact_number %}
            {{doc.contact_number}}
            {% endif %}

        </td>
        <th class="text-left" style="border: 1px solid black ;width: 20%;font-size: 120%">
            <b>SALES MAN</b>
        </th>
        <td class="text-left" style="border: 1px solid black ;width: 25%;font-size: 120%">
                  {% if doc.sales_man_name %}
            {{doc.sales_man_name}}
            {% endif %}

        </td>
    </tr>
    <tr>
        <td class="text-left" style="border-top: 1px solid black ;width: 20%;font-size: 120%"></td>
        <td class="text-left" style="width: 25%;font-size: 120%"></td>
        <td class="text-left" style="border-top: 1px solid black ;width: 25%;font-size: 120%"></td>
        <td class="text-left" style="width: 25%;font-size: 120%"></td>
    </tr>
</table>


<table>
    <tr>
        <th class="text-center" style="border: 1px solid black ;width: 45%;font-size: 120%">
            <b>MATERIALS/EQUIPMENTS</b>
        </th>
        <th class="text-center" style="border: 1px solid black ;width: 10%;font-size: 120%">
            <b>QTY</b>
        </th>
        <th class="text-center" style="border: 1px solid black ;width: 45%;font-size: 120%">
            <b>DESCRIPTION</b>
        </th>
    </tr>
     {% for i in doc.materials %}
        <tr>
            <td class="text-left" style="border: 1px solid black ;width: 45%;font-size: 120%">
                {{i.materials}}
            </td>
            <td class="text-center" style="border: 1px solid black ;width: 10%;font-size: 120%">
                {{i.qty}}
            </td>
            <td class="text-left" style="border: 1px solid black ;width: 45%;font-size: 120%">
                {{i.description}}
            </td>
        </tr>
    {% endfor %}
</table>
<table style="margin-top: 1%;min-width: 130px;empty-cells: show; ">
    <tr>
        <th class="text-center" style="border: 1px solid black ;width: 33%;font-size: 120%">
            <b>RECEIVED BY</b>
        </th>
        <th class="text-center" style="border: 1px solid black ;width: 33%;font-size: 120%">
            <b>OPERATION</b>
        </th>
        <th class="text-center" style="border: 1px solid black ;width: 33%;font-size: 120%">
            <b>CUSTOMER SIGNATURE</b>
        </th>
    </tr>
    <tr>
        <td class="text-left" style="border: 1px solid black ;width: 33%;font-size: 120%;min-width: 130px;empty-cells: show; ">
                 <br>
                 <br>
                 <br>
        </td>
        <td class="text-center" style="border: 1px solid black ;width: 33%;font-size: 120%;min-width: 130px;empty-cells: show; ">
                               <br>
                               <br>
                               <br>

        </td>
        <td class="text-left" style="border: 1px solid black ;width: 33%;font-size: 120%;min-width: 130px;empty-cells: show; ">
                                <br>
                                <br>
                                <br>

        </td>
    </tr>
</table>