<style>
	.print-format {
        font-size: 8pt !important;
        margin-top: 6mm !important;
        margin-left: 8mm !important;
        margin-right: 6mm !important;
        margin-bottom: 6mm !important;
    }

    .print-format td {
        vertical-align: middle !important;
    }
	.fade_rule {
		height: 1px;
		background-color: #E6E6E6;
		width: 25.0em;
		margin: 20 auto;
		background-image: linear-gradient(left, white 12%, #E6E6E6 100%, white 98%);
		background-image: -o-linear-gradient(left, white 12%, #E6E6E6 100%, white 98%);
		background-image: -moz-linear-gradient(left, white 12%, #E6E6E6 100%, white 98%);
		background-image: -webkit-linear-gradient(left, white 12%, #E6E6E6 100%, white 98%);
		background-image: -ms-linear-gradient(left, white 12%, #E6E6E6 100%, white 98%);
		background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(1, white), color-stop(0.5, gray), color-stop(0.98, white));
	}

	.clearbackground {
		margin: 0px auto 0px auto;
		/* keep the table centered */
		padding: 1px;
		border: 1px solid #9b9b9b;
		font-weight: 700;
		background-color: white;
	}

	td {
        font-size: 10pt !important;
    }
    tr {
        height: 1.2em !important;
        padding-top: 0.1em !important;
        padding-bottom: 0.1em !important;
    }
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
</style>
<!-- GENERAL LEDGER -->
<div class="page-break">
	{% if letter_head.content %}
		<div style="padding: 2px; border-radius: 5px;"></div>
		{{ letter_head.content }}
	{% else %}
		<div style="padding: 2px; background-color: #f1f1f1; border-radius: 5px;">
		<div style="margin-left:15px; margin-top:10px; float:left;">
			<img src="{{ frappe.db.get_single_value('website Settings', 'app_logo') or '' }}" alt=""
			style="height: 80px; float:left; max-width: 200px;" />
		</div>
		<div style="margin-right:15px; margin-top:5px; text-align: right; float: right;">
			<h1 style="font-weight: 900 !important;vertical-align: top;">{{ filters.company|upper }}</h1>
			<h5>
				<p>For: <span class="clearbackground">{% if filters.party[0] == filters.party_name[0] %}
					<b>{{ filters.party_name[0] }}</b>
					{% else %}
					{{ _("Customer: ") }} <b>{{ filters.party[0] }}</b>
					{{ _("Customer Name: ") }} <b>{{filters.party_name[0] }}</b>
					{% endif %}</span></p>
				
					<p>{{ _("Date: ") }}
					<span class="clearbackground">
						{{ frappe.format(filters.from_date, 'Date')}} {{ _("to") }} {{ frappe.format(filters.to_date, 'Date')}}
					</span></p>
			</h5>
		</div>

	{% endif %}

	

		<br>
		<div style="clear: both;">
			<h4 style="letter-spacing: 1px; text-transform: capitalize; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
				STATEMENT OF ACCOUNT<div class="fade_rule"></div>
			</h4>
			<table class="table" style="font-size: 12px; padding: 0px; margin: 0px;">
				<thead>
					<tr>
						<th style="width: 8%">{{ _("Date") }}</th>
						<th style="width: 10%">{{ _("Type") }}</th>
						<th style="width: 14%">{{ _("Reference") }}</th>
						{% if filters.show_remarks %}
						<th style="width: 35%;">{{ _("Remarks") }}</th>
						{% endif %}
						<th style="width: 12%; text-align: right;">{{ _("Debit") }}</th>
						<th style="width: 12%; text-align: right;">{{ _("Credit") }}</th>
						<th style="width: 12%; text-align: right;">{{ _("Balance") }}</th>
					</tr>
				</thead>
				<tbody>
					{% for row in data %}
					<tr>
						{% if(row.posting_date) %}
						<td>{{ frappe.format(row.posting_date, 'Date') }}</td>
						{% if(row.voucher_type == "Sales Invoice") %}
						<td>{{ row.voucher_subtype }}</td>
						{% else %}
						<td>{{ row.voucher_type }}</td>
						{% endif %}
						<td>{{ row.voucher_no }}</td>
						{% if filters.show_remarks %}
						<td style="font-size: 10px; line-height: 1em; padding-top: 1px; padding-bottom:1px;">
							{% if not (filters.party or filters.account) %}
								{{ row.party or row.account }}
								<br>
							{% endif %}
							{{ row.remarks|replace('No Remarks','') }}
							{% if(row.voucher_subtype == "Credit Note") %}
								{{ _("Against") }}: {{ row.against_voucher|replace('None','') }}
							{% endif %}
							{% if row.bill_no %}
								<br>{{ _("Supplier Invoice No") }}: {{ row.bill_no }}
							{% endif %}
							{% if(row.voucher_type == "Sales Invoice") %}    <!-- Only check if Sales Invoice + Returns - For Kenyan TIMS Integration -->
								{% set cuin, cuurl = frappe.db.get_value('Sales Invoice', row.voucher_no, ['etr_invoice_number', 'cu_link']) %}
								{% if cuin and cuurl %}
								CUIN: <a href={{ cuurl }} target="_blank">{{ cuin }}</a>
								{% endif %} 
							{% endif %}
						</td>
						{% endif %}
						<td style="text-align: right;">
							{{ frappe.utils.fmt_money(row.debit) }}</td>
						<td style="text-align: right;">
							{{ frappe.utils.fmt_money(row.credit) }}</td>
						{% else %}
						<td></td>
						<td></td>
						<td>
							{% if not filters.show_remarks %}
							<b>{{ frappe.format(row.account, {fieldtype: "Link"}) or "&nbsp;" }}</b></p>
							{% endif %}
						</td>
						{% if filters.show_remarks %}
						<td><b>{{ frappe.format(row.account, {fieldtype: "Link"}) or "&nbsp;" }}</b></td>
						{% endif %}
						<td style="text-align: right;">
							{{ row.get('account', '') and frappe.utils.fmt_money(row.debit) }}
						</td>
						<td style="text-align: right;">
							{{ row.get('account', '') and frappe.utils.fmt_money(row.credit) }}
						</td>
						{% endif %}
						{% if not loop.last %}
						<td style="text-align: right;">
							{{ frappe.utils.fmt_money(row.balance) }}
						</td>
						{% else %}
						<td style="text-align: right; font-weight: bold;">
							{{ frappe.utils.fmt_money(row.balance, currency=filters.presentation_currency) }}
						</td>
						{% endif %}
						
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		
		{% if ageing %}
		<h4
			style="letter-spacing: 1px; text-transform: capitalize; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
			AGING SUMMARY<div class="fade_rule"></div>
		</h4>
		<table class="table" style="font-size: 12px; padding: 0px; margin: 0px;">
			<thead>
				<tr>
					<th style="width: 35%">{{ _("Aging") }}</th>
					<th style="width: 13%">0 - 30 Days</th>
					<th style="width: 13%">30 - 60 Days</th>
					<th style="width: 13%">60 - 90 Days</th>
					<th style="width: 13%">90 - 120 Days</th>
					<th style="width: 13%">120+ Days</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ _("Based on ") }}{{ ageing.ageing_based_on }}
						{{ _("up to " ) }} {{ frappe.format(filters.to_date, 'Date')}}</td>
					<td>{{ frappe.utils.fmt_money(ageing.range1, currency=filters.presentation_currency) }}</td>
					<td>{{ frappe.utils.fmt_money(ageing.range2, currency=filters.presentation_currency) }}</td>
					<td>{{ frappe.utils.fmt_money(ageing.range3, currency=filters.presentation_currency) }}</td>
					<td>{{ frappe.utils.fmt_money(ageing.range4, currency=filters.presentation_currency) }}</td>
					<td>{{ frappe.utils.fmt_money(ageing.range5, currency=filters.presentation_currency) }}</td>
				</tr>
			</tbody>
		</table>
		{% endif %}

		{% if terms_and_conditions %}
		<div style="width: 50%; float: left;">
			<h4
				style="letter-spacing: 1px; text-transform: capitalize; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
				TERMS<div class="fade_rule"></div>
			</h4>
			<div style="font-size:10px !important;">
				<p>{{ terms_and_conditions }}</p>
			</div>
		</div>
		{% endif %}
		<div style="width: 40%; float: right;">
			{% set pdc = frappe.db.get_list('Payment Entry', filters={'reference_date': ['>',
			frappe.utils.nowdate()],'party': ['=', filters.party[0]]},
			fields=['posting_date', 'mode_of_payment', 'reference_date', 'paid_amount', 'status']) %}
			{% if pdc %}
			<h4 style="letter-spacing: 1px; text-transform: capitalize; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
				FUTURE PAYMENTS<div class="fade_rule"></div>
			</h4>
			<table class="" style="font-size: 11px; padding: 0px; margin: 0px; color: gray !important; width: 95%;">
				<thead>
					<tr>
						<th style="width: 25%;color: gray;">{{ _("Posted On") }}</th>
						<th style="width: 25%;color: gray;">{{ _("Mode") }}</th>
						<th style="width: 25%;color: gray;">{{ _("Ref Date") }}</th>
						<th style="text-align: right;width: 25%;color: gray;">{{ _("Value") }}</th>
					</tr>
				</thead>
				<tbody>
					{% for row in pdc %}
					<tr>
						<td style="color: gray; vertical-align: top;">{{ frappe.format(row.posting_date, 'Date') }}</td>
						<td style="color: gray;vertical-align: top;">{{ row.mode_of_payment }}</td>
						<td style="color: gray;vertical-align: top;">{{ frappe.format(row.reference_date, 'Date') }}
						</td>
						<td style="text-align: right;color: gray;vertical-align: top;">
							{{frappe.utils.fmt_money(row.paid_amount, currency=filters.presentation_currency) }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% endif %}
		</div>
		<div id="footer-html" class="visible-pdf">
			{% if letter_head.footer %}
			<div class="letter-head-footer">
				<hr style="border-width:0;color:black;background-color:black;padding-bottom:2px;">
				{{ letter_head.footer }}
			</div>
			{% endif %}
		</div>
	</div>
	{% if letter_head.footer %}
		{{ letter_head.footer }}
	{% endif %}
</div>