<html>
<style>
	@media screen {
		.print-format {
			width: 8.5in;
			padding: 0.25in;
		}
	}
</style>
<div id="header-html" class="hidden-pdf" >
  <div>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
<table style="width: 100%">
    <tr>
        <td >
            <span style="margin-left: 3.4in !important;">VAT INVOICE </span><br>
            <span style="margin-left: 3.1in !important;">
            فاتورة ضريبة القيمة المضافة
        </span></td>
    </tr>
</table>
<div style="width: 100%;border-bottom: 2px solid black">

</div>

<table style="margin-top: 1% !important;">
    <tr>
        <td class="text-left" style="width: 25%;font-size: 100%">
            <b>Customer Details</b>
        </td>
        <td class="text-left" style="width: 25%;font-size: 100%">
            <b>تفاصيل العميل</b>
        </td>
        <td class="text-left" style="width: 25%;font-size: 100%">
            <b>Transaction Details</b>
        </td>
        <td class="text-left" style="width: 25%;font-size: 100%">
<b>تفاصيل الصفقه</b>
        </td>
    </tr>
     <tr>
        <td class="text-left" style="width: 25%;font-size: 100%">
            <b>CUSTOMER NAME   :</b><br>

            <b>الزبون اسم </b>

        </td>
        <td class="text-left" style="width: 25%;font-size: 100%">
               {{doc.customer_name}} <br>
                    {%if doc.customer_name_in_arabic%}
                        {{doc.customer_name_in_arabic}}
                    {%endif%}

        </td>
         <td class="text-left" style="width: 25%;font-size: 100%">
             <b>INVOICE NO </b>:<br>
             <b>
                رقم الفاتورة</b>
        </td>
        <td class="text-left" style="width: 25%;font-size: 100%">
           {{doc.name}}

        </td>

    </tr>
    <tr>
        <td class="text-left" style="width: 25%;font-size: 100%">
            <b>VAT NO:</b><br>
            <b>الرقم الضريبة</b>
        </td>
        <td class="text-left" style="width: 25%;font-size: 100%">
            {%if frappe.db.get_value("Customer",doc.customer,"tax_id")%}
                    {{frappe.db.get_value("Customer",doc.customer,"tax_id")}}
            {%endif%}
        </td>
         <td class="text-left" style="width: 25%;font-size: 100%">
             <b>DATE :</b><br>
             <b>                تاريخ الفاتورة</b>
        </td>
        <td class="text-left" style="width: 25%;font-size: 100%">
           {{doc.posting_date}}
        </td>

    </tr>
     <tr>
          <td class="text-left" style="width: 25%;font-size: 100%">
            <b>ADDRESS:</b>
        </td>
        <td class="text-left" style="width: 25%;font-size: 100%">
            {%if doc.address_display %}
                   {{doc.address_display}}
            {% endif %}
        </td>

         <td class="text-left" style="width: 25%;font-size: 100%">
              {%if doc.items[0].delivery_note%}
                                      <b>DELIVERY NOTE:</b><br><br>


                {%endif%}
             <b>PO NUMBER:</b><br>
            <b>                رقم أمر الشراء</b><br><br>
              <b>SALES MAN:</b>
             <br>
             <b>المندوب</b>
             <br><br>
             <b>SK/CS/HA Ref:</b>
        </td>
         <div style="display: none">
             {% set production_ref = [] %}
{% for i in doc.production %}
    {{- production_ref.append(i.reference) -}}
{% endfor %}
         </div>

        <td class="text-left" style="width: 25%;font-size: 100%">
             {%if doc.items[0].delivery_note%}
                            {{doc.items[0].delivery_note}}

                {%endif%}
             {%if doc.po_no%}
                {{doc.po_no}}
            {%endif%}<br><br><br>
            {%if doc.sales_man%}
                {{doc.sales_man_name}}
            {%endif%}<br><br><br>

            {{ production_ref | join(",")}}
        </td>
    </tr>
</table>
<div style="width: 100%;border-bottom: 2px solid black"></div>
<table style="margin-top: 1%">
    <tr style="border-bottom: 2px solid black;">
        <td class="text-left" style="width: 10%;font-size: 100%">
            <b>SI</b>
        </td>
        <td class="text-left" style="width: 20%;font-size: 100%">
            <b>ITEM NAME</b><br>
            <b>الرمز</b>
        </td>
        <td class="text-left" style="width: 20%;font-size: 100%">
            <b>DESCRIPTION</b><br>
            <b>وصف السلعة</b>
        </td>
        <td class="text-left" style="width: 6%;font-size: 100%">
            <b>QTY</b><br>
            <b> الكمية</b>
        </td>
        <td class="text-left" style="width: 6%;font-size: 100%">
            <b>UNIT</b><br>
            <b>وحدة</b>
        </td>
        <td class="text-left" style="width: 13%;font-size: 100%">
            <b>RATE</b><br>
            <b>سعر الوحدة</b>
        </td>
         <td class="text-left" style="width: 6%;font-size: 100%">
            <b>DISCOUNT</b><br>
             <b>خصم</b>
        </td>
        <td class="text-left" style="width: 6%;font-size: 100%">
            <b>AMOUNT</b><br>
            <b>مجموع</b>
        </td>
    </tr>
    {%set new_item_array = []%}
    {%for i in doc.items%}
     <tr >

<td class="text-left" style="width: 10%;font-size: 100%">
            <b>{{i.idx}}</b>
        </td>
          <td class="text-left" style="width: 50%;font-size: 100%">
            <b>{{i.item_name}}</b>
        </td>
        <td class="text-left" style="width: 50%;font-size: 100%">
            <b>{{i.description}}</b>
        </td>
        <td class="text-left" style="width: 6%;font-size: 100%">
            <b>{{"{:,.2f}".format(i.qty)}}</b>
        </td>
        <td class="text-left" style="width: 6%;font-size: 100%">
            <b>{{i.uom}}</b>
        </td>
        <td class="text-left" style="width: 6%;font-size: 100%">

            <b>{{ "{:,.2f}".format(i.rate) }}</b>
        </td>
                  <div style="display: none">

         {%if i.include_discount%}
             {{ new_item_array.append(i)}}
                      {%endif%}
                  </div>

         <td class="text-left" style="width: 6%;font-size: 100%">
             {%if i.include_discount%}

                <b>{{ "{:,.2f}".format(i.discount_amount) }}</b>
             {%else%}
                 <b>{{ "{:,.2f}".format(0) }}</b>
             {%endif%}
        </td>
        <td class="text-left" style="width: 6%;font-size: 100%">
                       <b>{{ "{:,.2f}".format(i.amount) }}</b>

        </td>
    </tr>
    {%endfor%}

</table>
<div style="width: 100%;border-bottom: 2px solid black"></div>
<table style="margin-top: 1%">
    <tr>
        <td class="text-left" style="width: 70%;font-size: 100%">
            <b>Amount in Words:</b><br>
             <b>{{doc.in_words}}</b>
        </td>
        <td class="text-right" style="width: 17%;font-size: 100%">
            <b>Amount :</b><br>
            <b>مجموع</b>
        </td>
        <td class="text-right" style="width: 13%;font-size: 100%">
            <b>{{ "{:,.2f}".format(doc.items|sum(attribute='amount')) }}</b>
        </td>
    </tr>
    <tr>
        <td class="text-left" style="width: 70%;font-size: 100%">
            {% if doc.amount_in_arabic_words_%}
            <b>{{doc.amount_in_arabic_words_}}</b>
            {%endif%}
        </td>
          {% if new_item_array | sum(attribute='discount_amount') > 0 or doc.discount_amount | abs > 0%}

            <td class="text-right" style="width: 17%;font-size: 100%">

                   <b>Total Discount :</b><br>
                    <b>قيمة الخصم</b>
                    <br><br>

            </td>
        {%endif%}

         {% if  new_item_array|sum(attribute='discount_amount') > 0%}

            <td class="text-right" style="width: 13%;font-size: 100%">
                <b>{{ "{:,.2f}".format(new_item_array|sum(attribute='discount_amount')) }}</b>


            </td>
        {% else %}
            {% if doc.discount_amount | abs > 0 %}
                <td class="text-right" style="width: 13%;font-size: 100%">

                    <b>{{ "{:,.2f}".format(doc.discount_amount | abs) }}</b>

                </td>

                {% endif %}
        {%endif%}

    </tr>
    <tr>
        <td class="text-left" style="width: 70%;font-size: 100%">
            <b>Bank Details:</b><br>
            Beneficiary Name: HYDRO TECH EST. FOR EQUIPMENT MAINTENANCE<br>
            Bank Name: Banque Saudi Fransi, IBAN: SA5655000000097571300124<br>
            Account Number: 97571300124<br><br>

            Beneficiary Name: HYDRO TECH EST. FOR EQUIPMENT MAINTENANCE<br>
            Bank Name: Saud British Bank, IBAN: SA594000000057274664001<br>
            Account Number: 057274664001<br><br>
        </td>
        <td class="text-right" style="width: 17%;font-size: 100%">
            <b>Gross Amount :</b>
            <br>
            <b>الأجمالي المبلغ</b>
                        <br><br>

            <b>VAT 15%:</b><br>
            <b>ضريبة القيمة المضافة </b>
            <br><br>
            <b>Net Amount:</b><br>
            <b>المبلغ الاجمالى</b>



        </td>

        <td class="text-right" style="width: 13%;font-size: 100%">

            {% if  new_item_array|sum(attribute='discount_amount') > 0%}
                <b>{{ "{:,.2f}".format(doc.items|sum(attribute='amount') - new_item_array|sum(attribute='discount_amount'))}}</b>
            {% else %}
                {% if doc.discount_amount | abs > 0 %}
                    <b>{{ "{:,.2f}".format(doc.items|sum(attribute='amount') - doc.discount_amount | abs)}}</b>
                {% else %}
                    <b>{{ "{:,.2f}".format(doc.items|sum(attribute='amount'))}}</b>
                {% endif %}
            {%endif%}

                <br><br><br><br>
                <b>{{ "{:,.2f}".format(doc.total_taxes_and_charges) }}</b>
                <br><br>
                {% if  new_item_array|sum(attribute='discount_amount') > 0%}
                    <b>{{ "{:,.2f}".format((doc.items|sum(attribute='amount') - new_item_array|sum(attribute='discount_amount') ) + doc.total_taxes_and_charges)}}</b>
                {% else %}
                    {% if doc.discount_amount | abs > 0 %}
                        <b>{{ "{:,.2f}".format((doc.items|sum(attribute='amount') - doc.discount_amount | abs) + doc.total_taxes_and_charges)}}</b>
                    {% else %}
                        <b>{{ "{:,.2f}".format(doc.items|sum(attribute='amount') + doc.total_taxes_and_charges)}}</b>
                    {% endif %}
                {%endif%}

        </td>
    </tr>
</table>
<div style="width: 100%;border-bottom: 2px solid black"></div>
<div>
    <div id="footer-html" class="visible-pdf">
       <br>
       <br>
       <br>
    </div>
</div>
</html>


